.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta img {
  position: relative;
  height: 300px;
  transition: all 0.15s ease-in-out;
  top: 0;
}

.mc-field-group {
  display: block;
  margin: 25px auto 15px auto;
}

#mce-EMAIL {
  border: 1px solid grey;
  width: 100%;
}

.button.subscribe {
  display: block;
  border-radius: 4px;
  border: none;
  background: #0056b9;
  padding: 3px 10px;
  text-align: center;
  width: 100%;
  margin: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.button.subscribe:hover {
  cursor: pointer;
}

.cta:hover img {
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  top: -7px;
}

@media (max-width: 700px) {
  .cta {
    flex-direction: column;
  }

  #mc-embedded-subscribe-form {
    /* padding: 0 20px; */
    margin: 0 10px;
    max-width: 95vw;
  }
}
